@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #ffe8d6;
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  gap: 3.2rem;
  height: 48rem;
  align-self: center;
  justify-content: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 48rem;
  width: 60rem;
  border: 2px solid #414438;
}

.chat-header {
  display: flex;
  background-color: #8f8f7b;
  padding: 1.2rem 1.2rem;
}
.leave-btn {
  margin-left: auto;
  padding: 0.4rem 0.6rem;
}

.chat-main {
  padding: 1.2rem 1.2rem;
  background-color: #b7b7a4;
  height: 42rem;
}

.chat-form-container {
  padding: 1.2rem 1.2rem;
  background-color: #8f8f7b;
}

.chat-form-container form {
  display: flex;
  gap: 2rem;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.7;
}

.chat-messages .message .meta span {
  color: #777;
}

.message {
  background-color: #a5a58d;
  margin-bottom: 1rem;
  padding: 0.8rem 0.8rem;
  border: 2px solid #414438;
}

.room-name-title {
  margin-bottom: 0.8rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #b7b7a4;
  border: 2px solid #414438;

  width: 9.6rem;
  padding: 1.2rem 0.8rem;
}

.room-name-title {
  padding: 0.4rem 1rem;
  background-color: #8f8f7b;
}

.sidebar h2 {
  margin-bottom: 1.2rem;
}

.users-title {
  margin-bottom: 0.6rem;
}

.users li {
  margin-bottom: 0.4em;
}

.send-btn {
  padding: 0.4rem 1.6rem;
  border: 2px solid #414438;
}
/* Join Page */
.join-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 0 auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: #a5a58d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: #b7b7a4;
}

.form-control {
  border: none;
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

.btn {
  background: #a5a58d;
  border: 2px solid #6b705c;
  color: #000;
}

.btn:hover {
  background: #979781;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
